# 1

Tome esta referencia

inicio: 2015-01-01

fin: 2023-01-01

 

¿Cuál es la beta de Amazon respecto al mercado de Estados Unidos?

Utiliza el Adj Close, no el Close

In [1]:
# Bajamos los ETF de yahoo
import yfinance as yf
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

#VTI, es el indice que tiene todas las empresas del mercado gringo 


tickers = ['VTI','AMZN']
start_date = '2015-01-01'
end_date = "2023-01-01"


St = yf.download(tickers, end=end_date)['Adj Close']
St

[*********************100%%**********************]  2 of 2 completed

                 AMZN         VTI
Date
1997-05-15   0.097917         NaN
1997-05-16   0.086458         NaN
1997-05-19   0.085417         NaN
1997-05-20   0.081771         NaN
1997-05-21   0.071354         NaN
...               ...         ...
2022-12-23  85.250000  189.234634
2022-12-27  83.040001  188.443756
2022-12-28  81.820000  186.071167
2022-12-29  84.180000  189.491669
2022-12-30  84.000000  189.007263

[6451 rows x 2 columns]

In [2]:
rt = St.pct_change().dropna()

market_beta_google = rt.cov()['AMZN']['VTI'] / rt.VTI.var()
np.round(market_beta_google, 3)

1.089

# 2

¿Cuál es el ratio de sharpe de Amazon usando un rendimiento de 3% anual?

In [3]:
sigma = rt.cov() 
rf = 0.03

In [4]:
m_anual = rt.mean() * 252 
std_anual = rt.std() * np.sqrt(252) 

rs = ( m_anual - rf ) /  std_anual
np.round(rs['AMZN'], 3)

0.713

In [5]:
rs

AMZN    0.712818
VTI     0.421083
dtype: float64

In [6]:
np.round(rs['VTI'], 3)

0.421

# 5

Según el modelo CAPM, con un rendimiento fijo de 3% y 9% en el largo plazo, cuál es el rendimiento esperado según el CAPM

In [7]:
### Ejemplo
rf = 0.03
activo = 0.11
mercado = 0.9