# Quiz 2

In [2]:
import yfinance as yf
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

Calcule el rendimiento esperado de un portafolio compuesto 40% por el activo A, 40% por el activo B y 20% por el activo C.

In [11]:
tabla = pd.DataFrame({
    'prob': [0.2, 0.3, 0.5],
    'a': [-0.2, 0.05, 0.4],
    'b': [-0.05, 0.1, 0.15],
    'c': [0.05, 0.03, 0.02]
})
tabla

   prob     a     b     c
0   0.2 -0.20 -0.05  0.05
1   0.3  0.05  0.10  0.03
2   0.5  0.40  0.15  0.02

In [12]:
tabla['tabla_abc'] = 0.4 * tabla.a + 0.4 * tabla.b + 0.2 * tabla.c
tabla

   prob     a     b     c  tabla_abc
0   0.2 -0.20 -0.05  0.05     -0.090
1   0.3  0.05  0.10  0.03      0.066
2   0.5  0.40  0.15  0.02      0.224

In [15]:
veP  = (tabla.prob * tabla.tabla_abc).sum()
np.round(veP, 3)

0.114

Un inversionista tiene un capital total para invertir de 50,000, y quiere invertir en un portafolio con tres activos A, B y C, cuyos rendimientos esperados son:

E[RA]=20%

E[RB]=15%

E[RC]=17%

respectivamente. Si el inversionista elige invertir 5,000 en el activo A, $22,500 en el activo B y 22,500 en el activo C, ¿cuál es el rendimiento esperado de su portafolio?

In [21]:
erA = 0.20
erB = 0.15
erC = 0.17

In [28]:
df = pd.DataFrame(index=['Expansion', 'Normal', 'Recesion', 'Depresion'])
    'RE': [0.20, 0.15, 0.17]
    
)
df

IndentationError: unexpected indent (2147148173.py, line 2)