# Clase 3, entendiendo los conceptos de riesgo

- Repaso de probabilidad
- Diferentes medidas de rendimiento y riesgo 


Referencia general:
Notas del curso "Portfolio Selection and Risk Management", Rice University, disponible en Coursera.


<img style="float: left; margin: 15px 15px 15px 15px;" src="http://www.creative-commons-images.com/clipboard/images/return-on-investment.jpg" width="300" height="100" />
<img style="float: right; margin: 15px 15px 15px 15px;" src="https://upload.wikimedia.org/wikipedia/commons/5/5a/Risk-dice-example.jpg" title="github" width="300" height="100" />


###  Función discreta de probabilidad
Consideramos un conjunto finito (o contable) $\Omega$ de todos los posibles resultados (o realizaciones) de una variable aleatoria $X$. Entonces a cada elemento en $x\in\Omega$ se le asocia una probabilidad intrínseca $P(X=x)$ que satisface:

1. $0\leq P(X=x)\leq1$ para cada $x\in\Omega$,
2. $\sum_{x\in\Omega} P(X=x)=1$.

Referencia: https://en.wikipedia.org/wiki/Probability_theory

Para nuestros fines, el conjunto $\Omega$ lo estimaremos con un conjunto finito de la forma $\Omega=\left\lbrace x_j\,:\,j=1,\dots,m\right\rbrace$. Entonces, la segunda condición se puede escribir como

$$\sum_{j=1}^m P(X=x_j)=1.$$

Equivalentemente, si definimos $p_j=P(X=x_j)$

$$\sum_{j=1}^m p_j=1.$$

Ejemplo:

Tiro una moneda, 

$\Omega$ = {Aguila, Sello}

$P(moneda) = Aguila = 0.5$

$P(moneda) = Sello = 0.5$

$P(moneda) = Sello + P(moneda) = Aguila = 1$

Se cumple que:

$\sum_{j=1}^m p_j=1.$

### Valor esperado


El valor esperado de una variable aleatoria es, intuitivamente, el valor promedio a largo plazo de las repeticiones del experimento que representa. Informalmente, la ley de los grandes números afirma que la media aritmética de los resultados de un experimento aleatorio converge al valor esperado cuando el número de repeticiones tiende a infinito. 
Para una variable aleatoria discreta $X$

$$E[X]=\sum_{j=1}^{m} p_jx_j.$$

Ejemplo, ¿cual es el valor esperado de esta apuesta?

- Gano 100 si sale Aguila
- Pierdo 100 si sale Sello

$\Omega$ = {Aguila, Sello}

$P(y = Aguila) +  P(y = Sello) = 1 $

$E[X] = P(y = Aguila) * 100 + P(y= Sello) * -100 $

$E[X] = 0.5 * 100 + 0.5 * -100  = 0 $

In [1]:
import random
import pandas as pd
import numpy as np
from random import choices
import matplotlib.pyplot as plt

## Ejemplo, Doy un prestamo de $1000 con un interes de 10%.

El modelo de riesgos me dice que hay un 10% de probabilidad que el cliente no me pague. ¿Cuál es el valor esperado?

$\Omega$ = {pago, mora}

- Si el clinte paga, gano $100 

- Si el cliente no me paga, pierdo $1,000


Calcula el valor esperado teoríco y empirico

In [2]:
### Simula el prestamo para 1000 casos y aparre calcula el valor esperado teoríco 
ve1 = (100 * 0.9) + (-1000 * 0.1)

In [3]:
# ahora prob de que no pague es 5%
ve2 = (100 * 0.95) + (-1000 * 0.05)

In [4]:
import random 
#Primer caso 10 
# el [0] es para obtener el elemento solo, porque yo no quiero que me de una lista
prestamo1 =[random.choices([100, -1000], weights = [0.9, 0.1])[0] for i in range(10000)]
prestamo2 =[random.choices([100, -1000], weights = [0.95, 0.05])[0] for i in range(10000)]

In [5]:
import numpy as np 
np.sum(prestamo2)

430200

In [6]:
np.mean (prestamo1)

-10.33

In [7]:
np.mean(prestamo2)

43.02

### Varianza

<img style="float: right; margin: 0px 15px 15px 15px;" src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Comparison_standard_deviations.svg" width="400" height="200" />

La varianza es el valor esperado de la desviación al cuadrado de una variable aleatoria de su media. Informalmente, mide que tan dispersos (lejos) están los datos de su valor esperado. La desviación estándar es la raiz cuadrada de la varianza.

Para una variable aleatoria discreta $X$

$$Var(X)=\sigma_X^2=E[(X-E[X])^2]=\sum_{x\in\Omega} P(X=x)(x-E[X])^2.$$

Ejemplo moneda,

$E[X] = 0$

$P(X=sello) = 0.5$

$P(X=aguila) = 0.5$

$Var(volado) = P(x=aguila) * (100 - E[X])^2  + P(x=sello) * (-100 * E[X])^2$

Calcula la varianza del préstamo

$$Var(P) = P(pague) * (X_1 - E[X])^2 + P(no) * (X_2 - E[x])^2)$$

In [8]:
# Teoríco
# prestamo1 
var1 = (0.9 * (100 - ve1) **2) + (0.1 * (-1000 - ve2) ** 2)
vol1 = np.sqrt(var1)
vol1

346.543648044514

In [9]:
# Empirico
np.std(prestamo1)

330.439542276647

In [10]:
#Teorico 
#Prestamo2
var2 = (0.95 * (100 - ve1) **2) + (0.05 * (-1000 - ve2) ** 2)
vol2 = np.sqrt(var2)
vol2

257.09190963544535

In [11]:
#emperico 
np.std(prestamo2)

243.7853145700126

In [12]:
# Volatilidad

### 1.1. Compensación rendimiento/riesgo
- Cuando se realiza una inversión, pobablemente se anticipan ciertos rendimientos (esperados) futuros. 
- Sin embargo, dichos rendimientos futuros no pueden ser predichos con precisión.
- Siempre hay cierto riesgo asociado.
- Todo el mundo quiere la mayor cantidad de rendimientos

**Ejemplo:** 
<img style="float: right; margin: 15px 15px 15px 15px;" src="https://upload.wikimedia.org/wikipedia/commons/7/7e/S_and_P_500_chart_1950_to_2016_with_averages.png" title="github" width="300" height="100" />
- ¿Qué es el índice S&P500?
- En su peor año, el índice S&P500 cayó un 46% (1926).
- En el 2010, el índice subió un 55%.

Los inversionistas nunca anticiparon estos resultados extremos cuando realizaron sus inversiones en estos periodos.

¿Más riesgo es más rendimiento? ¿Por qué? ¿Según quien o que? Todo tiene que ver con el precio

### 1.2. Concepto de riesgo

<img style="float: left; margin: 0px 15px 15px 15px;" src="https://upload.wikimedia.org/wikipedia/commons/0/09/Playing-risk-venezuela.JPG" title="github" width="300" height="100" />

Hasta acá todo bien, pero, ¿qué es **riesgo**?, ¿cómo se mide?

- Riesgo significa que en realidad no sabemos qué es lo que va a pasar (incertidumbre).
- "Más cosas pueden pasar de las que pasarán en realidad".
- Existen varias posibilidades pero no sabemos cuál será el resultado.
- ¿Cómo le hacemos para cuantificar el riesgo? Pues adaptamos la teoría de probabilidad a la forma en que medimos el riesgo

## 2. Midiendo el rendimiento

El **rendimiento** que se obtiene al invertir en un activo sobre un periodo se puede calcular directamente.

**Ejemplo:** 
- Suponga que usted invierte en un fondo de acciones. Cada acción se vende actualmente en $\$100$. 
- Suponga que su horizonte de inversión es de un año. Si el precio de la acciónal final del año es $\$110$ y los dividendos en el año son $\$5$, ¿cuál es su rendimiento en el periodo de tenencia?

$$\frac{S_1 - S_0}{S_0}$$

$$\frac{115 - 100}{100} = 0.15$$

**Ejemplo:** suponga que tiene una serie de rendimientos anuales para el índice S&P500

In [13]:
# Creamos tabla
tabla = pd.DataFrame(columns=['ret'], index=range(1, 6))
tabla.index.name = 'year'
tabla['ret'] = [-0.1189, -0.2210, 0.2869, 0.1088, 0.0491]

In [14]:
tabla

         ret
year
1    -0.1189
2    -0.2210
3     0.2869
4     0.1088
5     0.0491

1. ¿Cuál es el rendimiento en el periodo de tenencia de los cinco años?

In [15]:
## Calcula el rendimiento final
(1 + tabla.ret.values[0]) * (
    (1 + tabla.ret.values[1])) * (
    (1 + tabla.ret.values[2])) * (
    (1 + tabla.ret.values[3])) * (
    (1 + tabla.ret.values[4]))

1.0274899060099962

In [16]:
### Ahora con Pandas
rendimiento = (1 + tabla.ret).prod() - 1
rendimiento

0.027489906009996234

In [17]:
### Cuanto dinero se hubiera ganadocomn una inversión de $10,000
p0 = 10000
p0 * (1 + rendimiento)

10274.899060099962

2. ¿Cuál es el rendimiento promedio anual a través de los cinco años?

En general, el **rendimiento medio geométrico** $\bar{r}_g$ satisface

$$(1+\bar{r}_g)^T=\prod_{i=1}^{T}(1+r_i),$$

o equivalentemente

$$\bar{r}_g=\left[\prod_{i=1}^{T}(1+r_i)\right]^{1/T}-1.$$

In [18]:
# Respuesta a la pregunta 2
T = 5
rg = ((1 + tabla.ret).prod())**(1/T) - 1  
rg

0.005438503962722274

In [19]:
### Verifica que esto está bien 
(1 + rg) ** T

1.0274899060099967

### 2.2. Rendimiento medio aritmético

Si pudiéramos obtener escenarios probables para la economía, asociados con ciertas probabilidades, podríamos calcular el **rendimiento esperado** como el promedio ponderado (valor esperado) por probabilidad de los posibles resultados.

Esto es

$$E[r]=\sum_{j=1}^{m}p_jr_j,$$

donde $r_j$ para $j=1,2,\dots,m$ son los posibles rendimientos y $p_j$ es la probabilidad asociada a que ocurra el rendimiento $r_j$.


**Ejemplo:**
- Suponga que usted invierte en un fondo de acciones. Cada acción se vende actualmente en \$100.
- Suponga que hay cuatro posibles estados futuros de la economía, los cuales se resumen en la siguiente tabla

In [20]:
# Creamos tabla
tabla2 = pd.DataFrame(columns=['prob', 'price', 'div', 'ret'], 
                      index=['excellent', 'good', 'poor', 'crash'])
tabla2.index.name = 'state'
tabla2['prob'] = [0.25, 0.45, 0.25, 0.05]
tabla2['price'] = [126.50, 110.00, 89.75, 46.00]
tabla2['div'] = [4.50, 4.00, 3.50, 2.00]
tabla2

           prob   price  div  ret
state
excellent  0.25  126.50  4.5  NaN
good       0.45  110.00  4.0  NaN
poor       0.25   89.75  3.5  NaN
crash      0.05   46.00  2.0  NaN

In [21]:
# Calcular rendimiento de cada escenario
tabla2['ret'] = (tabla2['price'] + tabla2['div'] - 100) / 100
tabla2

           prob   price  div     ret
state
excellent  0.25  126.50  4.5  0.3100
good       0.45  110.00  4.0  0.1400
poor       0.25   89.75  3.5 -0.0675
crash      0.05   46.00  2.0 -0.5200

Dada las probabilidades anteriores, ¿cuál es el rendimiento esperado?

In [22]:
np.sum(tabla2.prob * tabla2.ret)

0.09762500000000002

In [23]:
# ¿Que pasaría si todo tiene la misma probabilidad? Calcula ese rendimientio

In [24]:
tabla2['prob1'] = [0.25, 0.25, 0.25, 0.25] 
tabla2

           prob   price  div     ret  prob1
state
excellent  0.25  126.50  4.5  0.3100   0.25
good       0.45  110.00  4.0  0.1400   0.25
poor       0.25   89.75  3.5 -0.0675   0.25
crash      0.05   46.00  2.0 -0.5200   0.25

In [25]:
valor_esperado = np.sum(tabla2.prob1 * tabla2.ret)

In [26]:
#La esperanza no es el promedio, la esperanza solo es el promedio cuando todas las probabilidades son la misma
np.mean(tabla2.ret)

-0.034375

In [27]:
# Sacando la volatilidad 
varianza = np.sum(tabla2.prob * (tabla2.ret - valor_esperado) ** 2 )
varianza

0.055397421875000005

In [28]:
volatilidad = np.sqrt(varianza)
volatilidad

0.2353665691533103

In [29]:
valor_esperado

-0.034375

### 2.3. Ejercicios

En esta sección se dejarán algunos ejercicios para ustedes. Si alcanza el tiempo, se harán en clase.

**Ejercicio.** Considere el siguiente reporte de rendimientos de cierta acción en los últimos tres años

| Año | Rendimiento |
| --- | ----------- |
| 1   | -0.10       |
| 2   | 0.20        |
| 3   | 0.30        |

- Calcular el rendimiento geométrico. ¿Cuál es su significado?
- Calcular el rendimiento de la inversión, ¿Cuál es el significado?

In [30]:
tabla = pd.DataFrame()
tabla['Año'] = [1, 2, 3]
tabla['Rendimiento'] = [-0.1, 0.2, 0.3]

In [31]:
# Aritmetico 

(1 + tabla.Rendimiento.values[0]) * (1 + tabla.Rendimiento.values[1]) * (1 + tabla.Rendimiento.values[2])

1.4040000000000001

In [32]:
(1 + tabla.Rendimiento).prod()

1.4040000000000001

In [33]:
# Geometrico 
t = len(tabla) 
rg = ((1 + tabla.Rendimiento).prod()) ** (1/t) - 1 
rg

0.1197533470451746

In [34]:
#COmprobacion 
(1 + rg) ** t

1.4040000000000004

# Midiendo el riesgo

### 3.1. La volatilidad como medida de riesgo
Dado que el riesgo está estrechamente relacionado con *cuánto no sabemos* acerca de lo que va a pasar, lo podemos cantificar con alguna medida de dispersión de la variable aleatoria de rendimientos.


**Ejemplo:** 
- Tiramos una moneda que no está cargada. 
- Definimos la variable aleatoria $X$, la cual toma el valor de $+1$ cuando la moneda cae cara y el valor de $-1$ cuando cae sello. 
- Como la moneda no está cargada, los eventos tienen igual probabilidad $P(X=1)=P(X=-1)=0.5$.

El valor esperado de la variable aleatoria $X$ es:

$$E[X]=P(X=1) \times (1) + P(X=-1) \times (-1)=0.5\times(1)+0.5\times(-1)=0.$$

Aunque el resultado real nunca va a ser cero, el resultado esperado es cero. *Necesitamos otra medida adicional para describir la distribución*.

**Ejemplo:**
- Suponga que cada acción de la compañía XYZ en $t=0$ cuestan \$100.
- Existen tres posibilidades para el precio de una acción de XYZ en $t=1$:
 - El precio subirá a \$140 (probabilidad del 25%)
 - El precio subirá a \$110 (probabilidad del 50%)
 - El precio bajará a \$80 (probabilidad del 25%)
 
 
 Entonces, ¿cómo describimos una distribución de rendimiento?
1. Tendencia central:
 - Usaremos el valor esperado de los rendimientos como su tendencia central (ya vimos porqué).
   $$E[r]=\sum_{j=1}^{m}p_jr_j.$$
2. Medida de dispersión:
 - Usaremos la desviación estándar (volatilidad) o varianza como medida de dispersión para las distribuciones de rendimiento...
   $$\sigma_r^2=\sum_{j=1}^{m} p_j(r_j-E[r])^2.$$
   $$\sigma_r=\sqrt{\sum_{j=1}^{m} p_j(r_j-E[r])^2}.$$

In [35]:
# Creamos tabla
df = pd.DataFrame()
df['resultado'] = [140, 110, 80] 
df['probabilidades'] = [0.25, 0.5, 0.25] 

df

   resultado  probabilidades
0        140            0.25
1        110            0.50
2         80            0.25

In [36]:
df['rendimiento'] = (df['resultado']  - 100)/100
df

   resultado  probabilidades  rendimiento
0        140            0.25          0.4
1        110            0.50          0.1
2         80            0.25         -0.2

In [37]:
# Calculamos rendimiento esperado
rendimiento_esperado = (df.probabilidades * df.rendimiento).sum()
rendimiento_esperado

0.10000000000000002

In [38]:
#media
df.rendimiento.mean()

0.09999999999999999

In [39]:
# Calculamos varianza
varianza = (df.probabilidades * (df.rendimiento - rendimiento_esperado) ** 2).sum()
volatilidad = np.sqrt(varianza)
volatilidad

0.21213203435596428

In [40]:
varianza

0.045000000000000005

In [41]:
#varianza 
df.rendimiento.var()

0.09000000000000001

In [42]:
# Calculamos volatilidad
df.rendimiento.std()

0.30000000000000004

**Conclusión: la varianza y la desviación estándar nos brindad una medida de riesgo (incertidumbre, dispersión, volatilidad) en las realizaciones.**

### 3.2. Ejercicios

En esta sección se dejarán algunos ejercicios para ustedes. Si alcanza el tiempo, se harán en clase.

**Ejercicio 1.** A partir del análisis de un asesor financiero, se obtuvieron los siguientes datos de rendimientos de activos de cómputo y de telecomunicaciones, relativos a posibles situaciones económicas futuras

| Condición  económica | Rendimiento activo de cómputo | Rendimiento activo telecomunicaciones | Probabilidad |
| -------------------- | ----------------------------- | ------------------------------------- | ------------ |
| Declive              | -0.04                         | 0.07                                  | 0.2          |
| Estable              | 0.02                          | 0.04                                  | 0.5          |
| Mejora               | 0.10                          | 0.03                                  | 0.3          |

Calcular, para cada activo, su rendimiento esperado y volatilidad.

In [43]:
df = pd.DataFrame()
df['probabilidad'] = [0.4,0.3,0.3]
df['computo'] = [-0.1, 0.08, 0.23]
df['telecom'] = [0.07, 0.04, 0.03]
df

   probabilidad  computo  telecom
0           0.4    -0.10     0.07
1           0.3     0.08     0.04
2           0.3     0.23     0.03

In [44]:
# Valor esperado computo
esperado_computo = (df.probabilidad * df.computo).sum()
esperado_computo

0.053

In [45]:
# Valor esperado telecom
esperado_telecom = (df.probabilidad * df.telecom).sum()
esperado_telecom

0.04900000000000001

In [46]:
# Volatilidad computo
var = (df.probabilidad * (df.computo - esperado_computo) ** 2).sum()
vol = np.sqrt(var)
vol

0.13777155003846042

In [47]:
# Voaltilidad telecom
var2 = (df.probabilidad * (df.telecom - esperado_telecom) ** 2).sum()
vol2 = np.sqrt(var2)
vol2

0.01757839583124695

In [66]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [72]:
tickers = ['TSLA', 'AAPL']
df = yf.download(tickers, start="2020-01-01", end="2022-12-31")['Adj Close'] 
df

[*********************100%%**********************]  2 of 2 completed

                  AAPL        TSLA
Date
2020-01-02   73.249016   28.684000
2020-01-03   72.536896   29.534000
2020-01-06   73.114883   30.102667
2020-01-07   72.771034   31.270666
2020-01-08   73.941635   32.809334
...                ...         ...
2022-12-23  131.299820  123.150002
2022-12-27  129.477585  109.099998
2022-12-28  125.504539  112.709999
2022-12-29  129.059372  121.820000
2022-12-30  129.378006  123.180000

[756 rows x 2 columns]

In [73]:
rt = (df - df.shift()) / df.shift()
rt

                AAPL      TSLA
Date
2020-01-02       NaN       NaN
2020-01-03 -0.009722  0.029633
2020-01-06  0.007968  0.019255
2020-01-07 -0.004703  0.038801
2020-01-08  0.016086  0.049205
...              ...       ...
2022-12-23 -0.002798 -0.017551
2022-12-27 -0.013878 -0.114089
2022-12-28 -0.030685  0.033089
2022-12-29  0.028324  0.080827
2022-12-30  0.002469  0.011164

[756 rows x 2 columns]

In [74]:
rt = rt.dropna()
rt

                AAPL      TSLA
Date
2020-01-03 -0.009722  0.029633
2020-01-06  0.007968  0.019255
2020-01-07 -0.004703  0.038801
2020-01-08  0.016086  0.049205
2020-01-09  0.021241 -0.021945
...              ...       ...
2022-12-23 -0.002798 -0.017551
2022-12-27 -0.013878 -0.114089
2022-12-28 -0.030685  0.033089
2022-12-29  0.028324  0.080827
2022-12-30  0.002469  0.011164

[755 rows x 2 columns]

In [75]:
rt = df.pct_change().dropna()
rt

                AAPL      TSLA
Date
2020-01-03 -0.009722  0.029633
2020-01-06  0.007968  0.019255
2020-01-07 -0.004703  0.038801
2020-01-08  0.016086  0.049205
2020-01-09  0.021241 -0.021945
...              ...       ...
2022-12-23 -0.002798 -0.017551
2022-12-27 -0.013878 -0.114089
2022-12-28 -0.030685  0.033089
2022-12-29  0.028324  0.080827
2022-12-30  0.002469  0.011164

[755 rows x 2 columns]

In [78]:
arit = (1 + rt['TSLA']).prod()
np.round(arit, 3)

4.294

In [81]:
t = len(rt)
rg = (((1 + rt['TSLA']).prod()) ** (1/t)) -1
np.round(rg, 3)

0.002